@import '../../../variables/variables.scss';
.jams{
    h1{
        text-align: center;
        color: $logoColor;
        font-size: 36px;
    }
    .jamsWrapper{
        max-width: 1200px;
        margin: 0 auto;
        .jam{
            height: 500px;
            max-width: 1200px;
            margin: 150px auto 0 auto;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .jamContent{  
                background-color: $backgroundColor;
                height: 80%;
                margin: 0 50px;
                border-radius: 20px;
                width: 50%;
                padding: 20px;
                .jamName{
                    font-size: 20px;
                }
            }
            .jam_img_container{
                border-radius: 20px;
                img{
                    max-width: 300px;
                }
            }
        }
    }
}