@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

$montserrat:'Montserrat', sans-serif;
$notosans: 'Noto Sans Display', sans-serif;
$backgroundColor: #C1F9A2;
$greenColor: #C1F9A2;

$applejam: #e24257;
$apricotjam: #FF9F47;
$logoColor: #EA2626;
