@import '../variables/variables.scss';
@import '../Components/Header/assets/Header.css';
*{
    font-family: $montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e76f51;
}